incoming/*
scripts/nextcustomerid
scripts/customer.data
loaduser.log
scripts/Makefile
scripts/create_lost_user.sh
scripts/loaduser.sh
create_user.log
scripts/create_user.out
*.tar
scripts/*.log
*.json
